body {
    color: rgb(68, 68, 68);
}
.md-typeset h1, .md-typeset h2, .md-typeset h3, .md-typeset h4  {
    color: rgb(68, 68, 68);
    font-weight: 400;
}

.md-typeset p, .md-typeset li {
    font-size: 18px;
    line-height: 1.6em;
}

.md-typeset p {
    margin-bottom: 1.4em;
}

.md-typeset img {
    padding: .7rem;
    box-shadow: 0 0 .1rem 0 rgba(0,0,0,.05), .1rem .1rem .6rem 0 rgba(0,0,0,.1);
}

nav a.md-header-nav__button img {
    height: 3rem;
}

.md-header[data-md-state="shadow"] {
    box-shadow: 0 0 .5rem rgba(0,0,0,.1),0 .2rem .4rem rgba(0,0,0,.02);
    transition: color 250ms,background-color 250ms,box-shadow 250ms;
}

.highlight code {
    max-height: 500px;
}